.bannerContainer {
  width: 100vw;
  margin: 2rem auto;
}
.bannerMovies {
  width: 100%;
  margin: 0 auto;
}

.movieCategory {
  width: 95vw;
  margin: 1rem auto;
}
.categoryText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.categoryText a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem;
  cursor: pointer;
}
.movieCategory h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.categoryHr {
  width: 95vw;
  opacity: 50%;
}

.swiper-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

@media (max-width: 480px) {
  .categoryText a {
    font-size: 0.6rem;
  }
  .movieCategory h2 {
    font-size: 1rem;
  }
}
