.bannerContainer {
  width: 90vw;
  margin: 2rem auto;
}
.bannerMovies {
  width: 100%;
  margin: 0 auto;
}

.movieCategory {
  width: 95vw;
  margin: 1rem auto;
}
.categoryText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.categoryText a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem;
  cursor: pointer;
}
.movieCategory h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.categoryHr {
  width: 95vw;
}
