.movieCardDetail {
  padding: 0 0.5rem;
}
.MovieCardDetailImgDiv {
  padding: 1.5rem;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.MovieCardDetailImg {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  min-width: 6rem;
  transition: filter 0.3s ease;
}
.MovieCardDetailImgDiv:hover {
  transform: scale(1.03);
}
.MovieCardDetailImgDiv:hover .MovieCardDetailImg {
  filter: brightness(30%); /* 이미지 어둡게 */
}
.movieTitleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.2rem;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; /* 넘치는 텍스트 '...'으로 줄임 */
}

.MovieCardDetailImgDiv:hover .movieTitleOverlay {
  opacity: 1;
}

@media (max-width: 1440px) {
  .MovieCardDetailImgDiv {
    padding: 0.5rem;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .MovieCardDetailImgDiv {
    padding: 0.2rem;
  }
}
@media (max-width: 480px) {
  .MovieCardDetailImgDiv {
    padding: 0.2rem;
  }
}
