.movieCard {
  width: 260px;
  /* width: calc(20%); */
  height: 490px;
  cursor: pointer;
  /* border: 1px solid #454545; */
  margin-bottom: 10px;
  padding: 5px;
}
.movieImgDiv {
  /* position: relative; */
  width: 260px;
  height: 390px;
  overflow: hidden;
  border-radius: 10px;
}
.movieImg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  /* object-fit: cover; */
}
.movieTitle {
  padding: 5px;
  font-size: 1.5rem;
}

.movieVote {
  padding: 5px;
  font-size: 1rem;
}
.movieImg:hover {
  transform: scale(1.05);
}

.movieInfo {
  display: flex;
  justify-content: space-between;
}
.movieHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  font-size: 1.8rem;
  padding-right: 1rem;
  cursor: pointer;
  color: #00ff33;
  /* fb3958 */
}
.movieHeart:hover {
  transform: scale(1.05);
  transition: transform 0.7ms ease;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movieImgDiv {
    width: 10rem;
    height: 240px;
  }
  .movieCard {
    width: 10rem;
    height: auto;
  }
  .movieImg {
    width: 100%;
    height: 100%;
  }
  .movieTitle {
    font-size: 1.3rem;
  }
  .movieVote {
    font-size: 0.9rem;
  }
  .movieHeart {
    font-size: 1.3rem;
    padding-right: 0.3rem;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .movieImgDiv {
    width: 10rem;
    height: 240px;
  }
  .movieCard {
    width: 10rem;
    height: auto;
  }
  .movieImg {
    width: 100%;
    height: 100%;
  }
  .movieTitle {
    font-size: 1.3rem;
  }
  .movieVote {
    font-size: 0.9rem;
  }
  .movieHeart {
    font-size: 1.3rem;
    padding-right: 0.3rem;
  }
}
@media (max-width: 480px) {
  .movieImgDiv {
    width: 7rem;
    height: 168px;
  }
  .movieCard {
    width: 7rem;
    height: auto;
  }
  .movieImg {
    width: 100%;
    height: 100%;
  }
  .movieTitle {
    font-size: 0.9rem;
  }
  .movieVote {
    font-size: 0.8rem;
  }
  .movieHeart {
    font-size: 1rem;
    padding-right: 0.3rem;
  }
}
