.movieCard {
  width: 260px;
  /* width: calc(20%); */
  height: 490px;
  cursor: pointer;
  /* border: 1px solid #454545; */
  margin-bottom: 10px;
  padding: 5px;
}
.movieImg {
  width: 260px;
  height: 390px;
  object-fit: cover;
  border-radius: 10px;
}
.movieTitle {
  padding: 5px;
  font-size: 20px;
}

.movieVote {
  padding: 5px;
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movieCard {
    width: 10rem;
    height: auto;
  }
  .movieImg {
    width: 10rem;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .movieCard {
    width: 10rem;
    height: auto;
  }
  .movieImg {
    width: 10rem;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media (max-width: 399px) {
  .movieCard {
    width: 8rem;
    height: auto;
  }
  .movieImg {
    width: 8rem;
    height: 192px;
    object-fit: cover;
    border-radius: 10px;
  }
  .movieTitle {
    font-size: 0.9rem;
  }
  .movieVote {
    font-size: 0.8rem;
  }
}
