.navContainer {
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
}
.logoDiv {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  width: 9rem;
}

.logoImg {
  width: 80%;
  object-fit: cover;
}

.searchDiv {
  width: 17rem;
  height: 80%;
  align-items: center;
  border-bottom: 2px solid #ffffff8f;
}
.search {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.searchDiv input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
  font-size: 20px;
}
.searchDiv input::-webkit-input-placeholder {
  font-size: 20px;
}
.showSearch input::-webkit-input-placeholder {
  font-size: 14px;
}
.searchIcon {
  color: white;
  font-size: 1.5em;
  padding-top: 0.3rem;
  display: none;
}
.searchCrossIcon {
  color: white;
  display: none;
  font-size: 1.2em;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  width: 9rem;
}
.loginBtn,
.signupBtn {
  border: 1px solid #424242;
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 400;
}
.loginBtn {
  margin-right: 1rem;
}

.loginBtn:hover,
.signupBtn:hover {
  background-color: #424242;
}
.userImgDiv {
  position: relative;
  padding-left: 0rem;
  margin-right: 3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}
.userImg {
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 9rem;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
.dropdown p {
  padding: 0 1rem;
  color: #a7a7a7;
  font-weight: 600;
}
.userImgDiv:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.dropdown p:hover {
  color: black;
}
.showSearchDiv {
  background: linear-gradient(to bottom, #000000, #000000e1);
  position: absolute;
  z-index: 99;
  overflow: hidden;
  min-height: 15vh;
  display: none;
  /* position: sticky;
  left: 0;
  top: 50px;
  z-index: 99; */
}
.showSearch {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.showSearch input {
  height: 100%;
  padding: 0.2rem 1rem;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 14px;
  border-bottom: 1px solid #ffffff8f;
}
.searchMcontainer {
  margin: 1rem auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.searchMore {
  color: white;
  text-align: right;
  padding: 0 1rem 1rem 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
}
.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
}

@media (max-width: 768px) {
  .btnDiv {
    margin-right: 0rem;
    justify-content: flex-end;
    width: 5.5rem;
  }
  .signupBtn {
    display: none;
  }
  .searchDiv {
    display: none;
  }
  .loginBtn {
    border: none;
  }
  .userImgDiv {
    margin-right: 1.5rem;
  }
  .searchDiv {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    flex-grow: 1;
  }
  .searchDiv input {
    display: none;
  }
  .searchIcon {
    display: block;
    font-size: 1.3rem;
    padding-top: 0rem;
  }
  .searchCrossIcon {
    color: white;
    display: block;
    font-size: 1.2em;
  }
  .showSearchDiv {
    display: block;
  }
  .searchMore {
    padding: 0 2rem 1rem 0;
  }
  .mode {
    margin: 0 1rem 0 1rem;
  }
}
@media (max-width: 480px) {
  .btnDiv {
    margin-right: 0rem;
    justify-content: flex-end;
    width: 4rem;
  }
  .logoDiv {
    margin-left: 1rem;
    width: 7rem;
  }
  .loginBtn {
    height: 2rem;
    width: 3.3rem;
    font-size: 0.8rem;
  }
  .userImg {
    width: 1.5rem;
  }
  .dropdown {
    width: 7rem;
  }
  .dropdown p {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  .searchDiv {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    flex-grow: 1;
  }
  .searchDiv input {
    display: none;
  }
  .searchIcon {
    display: block;
    font-size: 1.2rem;
    padding-top: 0rem;
  }
  .searchCrossIcon {
    color: white;
    display: block;
    font-size: 1.2em;
  }
  .showSearchDiv {
    display: block;
  }
  .searchMore {
    padding: 0 1rem 1rem 0;
  }
  .mode {
    margin: 0 1rem 0 1rem;
  }
}
