.movieListContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  padding: 0 0.1rem;
  /* display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      width: 100vw;
      box-sizing: border-box; */
}
.pageTitle {
  padding-left: 1.8rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 calc(0.5vw + 0rem);
    justify-content: space-evenly;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .container {
    padding: 0 calc(0.5vw + 0rem);
    justify-content: space-evenly;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0;
    justify-content: space-evenly;
  }
}
