body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}
